Repository fawolfmann/bert_extractor: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mypy, pylint

isort:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - commit

black:
  name: black
  entry: poetry run black
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  stages:
  - commit

add comment
  .github/workflows/ci.yml
Due: none

improve README
  README.md
Due: none

improve docstrings
  bert_extractor/base.py
  bert_extractor/ner.py
  bert_extractor/reviews.py
  pylintrc
  pyproject.toml
Due: isort, black, mypy, pylint

add productionable
  README.md
Due: none

add transformers
  poetry.lock
  pyproject.toml
Due: none

improve base
  bert_extractor/base.py
  bert_extractor/reviews.py
Due: isort, black, mypy, pylint

add missing ,
  pylintrc
Due: none

add reviews extraction
  bert_extractor/reviews.py
  poetry.lock
  pyproject.toml
Due: isort, black, mypy, pylint

apply black
  .pre-commit-config.yaml
  bert_extractor/extractors/__init__.py
  bert_extractor/extractors/base.py
  bert_extractor/extractors/ner.py
  bert_extractor/extractors/reviews.py
  bert_extractor/main.py
  bert_extractor/ner.py
  bert_extractor/reviews.py
  bert_extractor/utils.py
  config/config_sample.json
Due: isort, black, mypy, pylint

update README
  README.md
Due: none

nit
  bert_extractor/extractors/ner.py
  bert_extractor/extractors/reviews.py
Due: isort, black, mypy, pylint

remove main from PR
  bert_extractor/extractors/__init__.py
  bert_extractor/extractors/base.py
  bert_extractor/main.py
  bert_extractor/utils.py
  config/config_sample.json
Due: isort, black, mypy, pylint

add main and configs
  bert_extractor/main.py
  bert_extractor/utils.py
  config/config_sample.json
Due: isort, black, mypy, pylint

improve logging
  bert_extractor/extractors/base.py
  bert_extractor/extractors/reviews.py
Due: isort, black, mypy, pylint

add test extractors files
  tests/extractors/test_base_extractor.py
  tests/extractors/test_review_extractor.py
Due: isort, black

improve wording
  bert_extractor/extractors/base.py
  bert_extractor/extractors/reviews.py
Due: isort, black, mypy, pylint

add reviews tests
  tests/extractors/test_base_extractor.py
  tests/extractors/test_review_extractor.py
Due: isort, black

add pytests section
  README.md
Due: none

fix decompress tests
  tests/extractors/test_review_extractor.py
Due: isort, black

nit
  README.md
Due: none

fix max_length
  bert_extractor/extractors/base.py
Due: isort, black, mypy, pylint

add base tests
  tests/extractors/test_base_extractor.py
  tests/extractors/test_review_extractor.py
Due: isort, black

reuse sample data
  tests/extractors/sample_data.py
  tests/extractors/test_base_extractor.py
  tests/extractors/test_review_extractor.py
Due: isort, black

WIP ner extractor
  bert_extractor/extractors/base.py
  bert_extractor/extractors/ner.py
Due: isort, black, mypy, pylint

nits
  bert_extractor/extractors/base.py
Due: isort, black, mypy, pylint

add Kaggle package#
  poetry.lock
  pyproject.toml
Due: none

Add dataset words
  README.md
Due: none

ner extract from kaggle
  bert_extractor/extractors/base.py
  bert_extractor/extractors/ner.py
Due: isort, black, mypy, pylint

finish ner class
  bert_extractor/extractors/base.py
  bert_extractor/extractors/ner.py
Due: isort, black, mypy, pylint

add constants file
  bert_extractor/constants.py
Due: isort, black, mypy, pylint

add tests
  README.md
  bert_extractor/extractors/ner.py
  poetry.lock
  pyproject.toml
  tests/extractors/sample_data.py
  tests/extractors/test_ner_extractor.py
Due: isort, black, mypy, pylint

redesing to implement ner
  README.md
  bert_extractor/constants.py
  bert_extractor/extractors/base.py
  bert_extractor/extractors/ner.py
  bert_extractor/extractors/reviews.py
Due: isort, black, mypy, pylint

add cache and improve configs
  bert_extractor/configs.py
  bert_extractor/constants.py
  bert_extractor/main.py
  bert_extractor/utils.py
  config/config_sample_ner.json
  config/config_sample_reviews.json
Due: isort, black, mypy, pylint

add cache and improve configs
  bert_extractor/configs.py
  bert_extractor/utils.py
Due: isort, black, mypy, pylint

set tests for review!
  tests/extractors/test_base_extractor.py
  tests/extractors/test_ner_extractor.py
  tests/extractors/test_review_extractor.py
Due: isort, black

apply cache on extractors+
  bert_extractor/extractors/ner.py
  bert_extractor/extractors/reviews.py
  bert_extractor/main.py
  bert_extractor/utils.py
Due: isort, black, mypy, pylint

nit
  bert_extractor/configs.py
Due: isort, black, mypy, pylint

improve readme
  README.md
Due: none

improve docstrings
  README.md
  bert_extractor/__init__.py
  bert_extractor/configs.py
  bert_extractor/extractors/base.py
  bert_extractor/extractors/ner.py
  bert_extractor/extractors/reviews.py
  bert_extractor/utils.py
Due: isort, black, mypy, pylint

improve tests
  tests/extractors/sample_data.py
  tests/extractors/test_base_extractor.py
  tests/extractors/test_ner_extractor.py
  tests/extractors/test_review_extractor.py
Due: isort, black

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
  pylint: any of: \.py$, but not: ^tests/
