Repository fawolfmann/bert_extractor: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [commit]

      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        stages: [commit]

      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        stages: [commit]
        exclude: ^tests/

      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        stages: [commit]
        exclude: ^tests/

add missing Dockerfile
  Dockerfile
Due: none

improve Readme
  README.md
Due: none

separete read file function
  bert_extractor/extractors/ner.py
Due: isort, black, mypy, pylint

add quickstart notebook
  quickstart.ipynb
Due: none

add quickstart section
  README.md
Due: none

apply trail withespaces hook
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  README.md
  bert_extractor/configs.py
  bert_extractor/extractors/base.py
  bert_extractor/extractors/ner.py
  pylintrc
  tests/extractors/test_base_extractor.py
  tests/extractors/test_ner_extractor.py
  tests/extractors/test_review_extractor.py
Due: isort, black, mypy, pylint

improves
  Dockerfile
  README.md
  bert_extractor.png
  bert_extractor/extractors/__init__.py
  bert_extractor/extractors/base.py
  bert_extractor/extractors/ner.py
  bert_extractor/extractors/reviews.py
  quickstart.ipynb
  requirements.txt
  tests/extractors/test_base_extractor.py
  tests/extractors/test_ner_extractor.py
  tests/extractors/test_review_extractor.py
Due: isort, black, mypy, pylint

add data example
  data/ner/1e00a8979438cda10c1a57d42ce341aa7a23ed9edb2f46a94a7347a53fefe625.pkl
  data/reviews/d59bf411394f9ca3ead2184c2fb6da04c7b9bfb9700dc4cf77b520a18dec911f.pkl
Due: none

change configs default
  config/config_sample_ner.json
  config/config_sample_reviews.json
Due: none

fix tests
  tests/extractors/test_base_extractor.py
Due: isort, black

nits
  README.md
  bert_extractor/extractors/ner.py
  bert_extractor/extractors/reviews.py
Due: isort, black, mypy, pylint

deprecate pandas
  poetry.lock
  pyproject.toml
Due: none

nit
  README.md
Due: none

remove unused dependecny
  tests/extractors/sample_data.py
Due: isort, black

nit
  tests/extractors/test_ner_extractor.py
Due: isort, black

add missing answer
  README.md
Due: none

clean requirments
  README.md
  requirements.txt
Due: none

add csbv extractor
  bert_extractor/extractors/csv.py
Due: isort, black, mypy, pylint
